<?xml version="1.0" encoding="utf-8"?>
<!--
This template is configured to use Python 3.5 on Azure App Service. To use a different version of Python,
or to use a hosting service other than Azure, replace the scriptProcessor path below with the path given
to you by wfastcgi-enable or your provider.

For Python 2.7 on Azure App Service, the path is "D:\home\Python27\python.exe|D:\home\Python27\wfastcgi.py"

The WSGI_HANDLER variable should be an importable variable or function (if followed by '()') that returns
your WSGI object.

See https://aka.ms/PythonOnAppService for more information.
-->
<configuration>
  <appSettings>
    <!-- by default it is the path of the project
    <add key="PYTHONPATH" value="C:\Seaglex\Src\dotnet10\BottleWebProject1\BottleWebProject1" />
    -->
    <!-- The handler here is specific to Bottle; see the next section. -->
    <add key="WSGI_HANDLER" value="app.wsgi_app()" />
    <add key="WSGI_LOG" value="C:\inetpub\logs\bottle_wfastcgi.log" />
  </appSettings>
  
  <system.webServer>

    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" 
           scriptProcessor="c:\seaglex\src\dotnet10\BottleWebProject1\BottleWebProject1\env\scripts\python.exe|c:\temp\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <!--for azure :-->
    <!--<handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="D:\home\python364x86\python.exe|D:\home\python364x86\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script"/>
    </handlers>-->
    
    <!--<handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="&quot;C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python36_64\scripts\wfastcgi.exe&quot;" resourceType="Unspecified" requireAccess="Script" />
    </handlers>-->

    <httpErrors errorMode="Detailed"></httpErrors>
  </system.webServer>
</configuration>

<!-- useful links:
https://stackoverflow.com/questions/38063508/logging-with-wsgi-server-and-flask-application
-->

